<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneSchool</title>
</head>
<body>
        <%= stylesheet_link_tag "navbar", media: 'all', 'data-turbolinks-track' => true %>

    
</body>
</html>