<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_2.css">
    <title>Registrati_admin</title>
</head>
<body>
    <div class="home">
        <label class="title"> Signup as admin</label>
        <!--
            <%= form_with url: "/signup", method: :get do |form| %>
            <%= %>
            <%= form.text_field :username %> //il :username è come se fosse l'id quindi si può usare css su quello
            <%= form.email_field :email %>
            <%= form.password_field :passcode %>
            <%= form.submit "submit" %>
            <%= end %>
        -->
        <form class="signup">
            <div class="form-field">
                <label class="label-field"> Username</label>
                <input type="text" id="username" class="text-field">
            </div>
            <div class="form-field">
                <label class="label-field"> Email</label>
                <input type="text" id="email" class="text-field">
            </div>
            <div class="form-field">
                <label class="label-field">Password</label>
                <input type="password" id="passcode" class="text-field">
            </div>
            <div>
                Sign up with google
            </div>
            
            <div>
                <input type="submit" class="button-field" value="submit">
            </div>
            Do you already have an account?
            <!--<%= link_to "login", "/login" %>-->


        </form>
    </div>
    
</body>
</html>