<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_6.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>
      </nav>
    <div class="home">
        <div class="panel-container">
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                grades
            </div>
             <!-- <%= end %>-->
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                absences
            </div>
             <!-- <%= end %>-->
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                classes
            </div>
             <!-- <%= end %>-->
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                meeting
            </div>
             <!-- <%= end %>-->
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                assignments
            </div>
             <!-- <%= end %>-->
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                agenda
            </div>
             <!-- <%= end %>-->
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                news
            </div>
             <!-- <%= end %>-->
            <!--<%= link_to "/login_schoolstaff" do %>-->
            <div class="panel">
                personal notes
            </div>
             <!-- <%= end %>-->
        </div>
    </div>
    
</body>
</html>