<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_6.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        
    </div>
    <div class="home">
        <div class="panel-container">
            <div class="panel">
                grades
            </div>
            <div class="panel">
                absences
            </div>
            <div class="panel">
                classes
            </div>
            <div class="panel">
                meeting
            </div>
            
            <div class="panel">
                assignments
            </div>
            <div class="panel">
                agenda
            </div>
            <div class="panel">
                news
            </div>
            <div class="panel">
                personal notes
            </div>
        </div>
    </div>
    
</body>
</html>