<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_7.css">
    <script src="pagina_7.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>
      </nav>
    <div class="home">
        <div class="upper-bottons">
            <div class="up-botton" id="first-botton" onclick="show_panel('first-panel');">
                school
            </div>
            <div class="up-botton" id="second-botton" onclick="show_panel('second-panel');">
                staff
            </div>
        </div>
        <div class="main-panel">
            <div class="panel" id="first-panel" style="display:flex;">
                <!-- barra di ricerca con bootstrap
                <div class="input-group">
                    <div class="form-outline">
                      <input type="search" id="form1" class="form-control" />
                      <label class="form-label" for="form1">Search</label>
                    </div>
                    <button type="button" class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                barra di ricerca con rails (poi vediamo quale usare)
                <%= form_with url: "/search", method: :get do |form| %>
                    <%= form.label :query, "Search for:" %>
                    <%= form.text_field :query %>
                    <%= form.submit "Search" %>
                <% end %> -->
                sas
                <div class="school-list">
                    <div class="school">
                        <label class="school-field">
                            schola
                        </label>
                        <label class="school-field">
                            roma
                        </label>
                        <div class="modify-school">
                            <label class="edit">
                                edit
                            </label>
                            <label class="delete">
                                delete
                            </label>
                        </div>
                        
                    </div>
                    <div class="school">
                        <label class="school-field">
                            schola
                        </label>
                        <label class="school-field">
                            roma
                        </label>
                        <div class="modify-school">
                            <label class="edit">
                                edit
                            </label>
                            <label class="delete">
                                delete
                            </label>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="panel" id="second-panel" style="display:none;" >
                <!-- <%= form_with url: "/search", method: :get do |form| %> -->
                <form class="form-insert">
                    <div class="form-container">
                       <!--
                            <%= form.label :query, "Search for:" %>
                        --> 
                    </div>
                </form>
                
                sos
            </div>

        </div>
    </div> 

    
</body>
</html>