<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="prova.css">
    <title>OneSchool</title>
</head>
<body>
    <div class="navbar">
        
    </div>
    <div class="home">
        <label class="title">OneSchool</label>
        <div class="panel-container">
            <div class="panel">
                Schoolstaff
            </div>
            <div class="panel">
                Parent
            </div>
            <div class="panel ">
                Teacher
            </div>
            <div class="panel">
                Student
            </div>

        </div>
    </div>
</body>
</html>