<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_7.css">
    <script src="pagina_7.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        
    </div>
    <div class="home">
        <div class="upper-bottons">
            <div class="up-botton" id="first-botton" onclick="show_panel('first-panel');">
                school
            </div>
            <div class="up-botton" id="second-botton" onclick="show_panel('second-panel');">
                staff
            </div>
        </div>
        <div class="main-panel">
            <div class="panel" id="first-panel" style="display:flex;">
                sas
            </div>
            <div class="panel" id="second-panel" style="display:none;" >
                sos
            </div>

        </div>
    </div> 

    
</body>
</html>