<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_4.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>
      </nav>
    <div class="home">
       <div class="panel-container">
          <!--<%= link_to "/add_profiles" do %>-->
            <div class="panel">
                Add profiles
            </div>
          <!-- <%= end %>-->
           <!--<%= link_to "/manage_profiles" do %>-->
            <div class="panel">
                Manage profiles
            </div>
          <!-- <%= end %>-->
       </div> 
    </div>
    
</body>
</html>