<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_11.css">
    <title>Insert</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>
      </nav>
    <div class="home">
        <label class="title"> Insert communication</label>
        
            <!--
            <%= form_with url: "/insert", method: :get do |form| %>
            <%= form.text_field :title %>
            <%= form.datetime_local_field%>
            o si fa un hidden_field e si mette la data di oggi oppure si inserisce a mano
            <%= form.text_area :text, size: "70x5" %>
            <%= %>
            <%= %>
            <%= form.submit "publish" %>
            <%= end %>
        -->
            prova
    </div>
    
</body>
</html>