<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_10.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>
      </nav>
    <div class="home">
        <div class="main-panel">
            <div class="insert">
                <!-- finestra che si apre -->
                Bottone inserisci
            </div>
            <div class="list">
                <div class="communication">
                    <div class="upper">
                        Name, date ecc..
                    </div>
                    <div class="bottom">
                        Message
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>