<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile_pagina_9.css">
    <title>Staff_index</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>
      </nav>
    <div class="home">
        <div class="whole-panel">
            <div class="left-panel">
                <!--<%= link_to "/staff/comunications" do %>-->
                <div class="panel_left">
                    Communications
                </div>
                <!-- <%= end %>-->
                <!--<%= link_to "/staff/profiles" do %>-->
                <div class="panel_left">
                    Manage School profiles
                </div>
                <!-- <%= end %>-->
            </div>
            <div class="right-panel">
                <!--<%= link_to "/staff/schedule" do %>-->
               <div class="schedule">
                    Class schedule
               </div>
               <!-- <%= end %>-->
            </div>
        </div>
    </div>
</body>
</html>