*{
    margin:0;
    padding:0;
    background-color: white;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    justify-content: center;
    height:100vh;
}
.home{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    gap: 60px;
}

.panel-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:70px;
    width: 100%;
    height: 380px;
}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 380px;
    background-color: aquamarine;
    font-size: 28px;
    border-radius: 20px;
}


.navbar{
    background-color: skyblue;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.writ{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 70px;
    margin-left: 100px;
}

.profile{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-right: 100px;
}