*{
    margin:0;
    padding:0;
    background-color: white;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height:100vh;
}

.home{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height:100%;
}

.upper-bottons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    align-items: center;
    gap: 180px;
    width: 90%;
}

.up-botton{
    height: 40px;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    justify-content: center;
    font-size: 22px;
}

.main-panel{
    height: 300px;
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.panel{
    width:90%;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.navbar{
    background-color: skyblue;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.writ{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 70px;
    margin-left: 100px;
}

.profile{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-right: 100px;
}

.upper-part{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.list{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap:0;
    padding: 0;
    height: 80%;
    background-color: blanchedalmond;
    border: 2px solid black;
}

.item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left:20px;
    padding-right:10px;
    justify-content: space-between;
    background-color: aquamarine;
}

.field{
    width: 80px;
    text-align: center;
}
.modify{
    display: flex;
    gap: 20px;
    width: 80px;
    text-align: center;
}